<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.model.main"
        android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application
        android:name="com.modelsdk.global.MApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <!-- 启动页 -->
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 引导选择-->
        <activity
            android:name="com.model.main.GuidanceOptions"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
          <!-- viewFilpper引导页-->
        <activity
            android:name="com.model.main.MyViewFlipperDemo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
            <!-- viewpage引导页-->
          <activity
            android:name="com.model.main.GuidancePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
              <!-- 仿人人引导页-->
         <activity
            android:name="com.model.main.GuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
              <!-- 仿赶集引导页-->
         <activity
            android:name="com.model.main.ObservableScrollViewDemo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
            <!-- 仿墨迹天气引导页-->
         <activity
            android:name="com.model.main.GuideMoJi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 仿tabhost引导页-->
        <activity
            android:name="com.example.testbase.MainTab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- Uber的欢迎界面-->
        <activity
            android:name="com.model.main.GuideVideoView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- SCViewPager 欢迎页面-->
        <activity
            android:name="com.model.main.GulideSCViewpager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
           <!-- sdk用到的activity -->
        
    </application>
 
   
</manifest>
